.containerG {
    height: 200px;
    width: 100%;
    border: 1px solid gray;
    padding: 1em;
    display: grid;
   grid-template-areas: "one two two"
     "one two two"
     "one three three"
  gap: 1em;
}
.centerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell {
    border: 1px solid teal;
}
.one {
    width: 10%;
    height: 15%;
}
.two {
    width: 20%;
    height: 15%;
}
.three {
    width: 30%;
    height: 15%;
}